h1{
    margin-top:5vw;
    margin-bottom: -4vw;
    color:#333;
    font-size: 2vw;
    margin-left:10%;
    line-height: 2vw;;
}
h1, h2 {

    font-weight:200;
}
#gallerie{
    background-color: #eee;
    min-height:85vw;
}

#gallerie img{
    width: 100%;
}
#gal{
    padding:10%;

}

#lpfeil{
    display:inline-block;
    width: 3% !important;
    float:left;
    margin-left:4%;
    margin-top:7vw;
}
#rpfeil{
    display:inline-block;
    width: 3% !important;
    float:right;
    margin-right: 4%;
    margin-top:7vw;
}
#dotHolder{
    text-align: center;
    z-index: 15;
    position:absolute;
    left:65%;
    top:-2vw;
}
#dotHolder2{
    text-align: center;
    z-index: 15;
    position:absolute;
    left:35%;
    top:120vw;
}
.dot {
    cursor: pointer;
    height: 0.6vw;
    width: 0.6vw;
    margin: 0 0.3vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top:36.5vw;
 
  }
  #arrwo1, #arrwo2{
      display:none;
  }
  .active .dot:hover {
    background-color: #666;
  
  }
  .projekt{
      width:100%;
      height:30vw;
      padding:5%;
      background-color: #ddd;
      opacity:0.3;
      margin-left:30vw;
  }
  .projekt .bildholder{
    overflow:hidden;
    height:25vw;
    width:50%;
    float:right;
    margin-right:15%;
}
.projekt p{
    margin-left:5%;
margin-top:5vw;
    width:40%;
}
.projekt h1{
    margin-left:5%;
    font-size: 1.5vw;
    font-weight: 300;
}

.projekt2{
    padding:5%;
    width:100%;
    height:30vw;
    opacity:0.3;
    margin-left:-30vw;
}
.projekt2 .bildholder{
    overflow:hidden;
    height:30vw;
  width:50%;
  margin-left:5%;
  float:left;
}
.projekt img, .projekt2 img{
width:100%
}
.projekt2 p{
   float:right;
  margin-right:10%;
margin-top:5vw;
  width:30%;
 
  
}
.projekt2 h1{

    float:left;
    
  margin-left:5%;
  font-size: 1.5vw;
  font-weight: 300;
}
#img0 , #img1, #img2 {
    position: absolute;
   width:50%;
   opacity:0;
}
#img0{
    opacity:1;
}
#imgA0{
    position:absolute;
    opacity:1;
    width:50%;
}
#imgA1{
    position:absolute;
    opacity:0;
    width:50%;
}



  @media only screen and (max-width: 600px) {
    #arrwo1, #arrwo2{
        display:block;
    }
    h1{
        font-size: 4vw !important;
      width:100% !important;
    }
    p{
        font-size: 3vw;
        line-height: 4.5vw;
        margin-top:20vw;
    }
    main{
        min-height:120vw;
        margin-top:10vw;
    }
  
    #dotHolder, #dotHolder2{
        display:none;
    }
    #gal{
        padding-top:0;
    }
    #gal img{
        width:126%;
        margin-left:-13%;
    }
    .dot {
        cursor: pointer;
        height: 2vw;
        width: 2vw;
        margin: 0 1.5vw;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        
        text-align: center;
     
      }
      #rpfeil{
         display:none;
         
      }
      #lpfeil{
        display:none;
    }
    .projekt .bildholder{
        width:100%;
        height:60vw;
        margin-left:-5%;
        float:left;
    }
    .projekt2 .bildholder{
        width:100%;
        height:60vw;
        margin-left:-5%;
    }
    .projekt, .projekt2{
        height:80vw;
    }
    .projekt h1{
        width:100%;
        float: left;
        margin-top: 3vw;
        margin-left:-2%;
    }
    .projekt2 h1{
        width:100%;
        float: left;
        margin-top: 2vw;
        margin-left:-2%;
    }
    .projekt p{
        width:100%;
        float: left;
        margin-left:-2%;
    }
    .projekt2 p{
        width:100%;
        margin-left:-2%;
        float:left;
    }
    .projekt .pfeil{
        width:6%;
    }
    .projekt2 .pfeil{
        width:6%;
    }
    #img0 , #img1, #img2 {
        position: absolute;
       width:90%;
       opacity:1;
    }
    #img0{
        
        left:0vw;
    }
    #img1 {
        left:90%;
    }
    #img2 {
        left:180%;
    }


    #imgA0 , #imgA1 {
        position: absolute;
       width:90%;
       opacity:1;
    }
    #imgA0{
        
        left:0vw;
    }
    #imgA1 {
        left:90%;
    }
   
}