#suche{
    width:80%;
    margin-left:18%;
    height:25vw;
    margin-top: vw;
}
#suche img{
    width:35%;
    float:left;
    animation-play-state: paused;
}
#suche p{
    width:50%;
    float:left;
    margin-left:5%;
    margin-top:9vw;
    opacity:0;
}
#bilden{
    width:80%;
    margin-left:10%;
    margin-top:5vw;
    height:25vw;
}
#bilden img{
    width:35%;
    float:left;
    margin-left:5%;
}
#bilden p{
    width:50%;
    float:left;
    opacity:0;
    margin-top:9vw;
}
#bildenHa{
    display:none;
}
h1, h2 {

    font-weight:200;
}
h1{
    margin-bottom:3vw;
    color:#333;
    margin-top:5vw;
    font-size: 2vw;
    margin-left:10%;
}
#zitat{
    width:30%;
    margin-left:33%;
    background-color:#222;
    padding:2%;
    padding-bottom: 0;
    margin-bottom: 5vw;;
    margin-top:15vw;
    opacity:0;
    background-image: url(../Images/test.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:0vw;
    overflow:hidden;
    border-radius: 0.3vw;
    -webkit-transition: 0.5s ease;
}

#zitat:hover p,#zitat:hover img{
    opacity:0;
}
#zitat p{
    font-size: 2vw;
    text-align: center;
    filter: drop-shadow(3px 3px 7px #111);
}
#zitat a{
  
    filter: drop-shadow(3px 3px 7px #111);
}
#zitat p:first-child{
    font-size: 2.8vw;
}
#zitat p:nth-child(2){
    margin-top: -1vw;
}
#zitat img{
    width:50%;
    margin-left:25%;
    filter: drop-shadow(3px 3px 7px #111);
}

@media only screen and (max-width: 600px) {
    #bilden{
        display:none;
    }
    #suche img{
        width:100%;
    }
    #suche{
        margin-left:10%;
    }
    #suche p{
        width:100%;
        margin-top:-8vw;
    }
    #bildenHa img{
        width:100%;
    }
    #bildenHa{
        margin-left:10%;
        width:80%;
        display:blocK;
    }
    #bildenHa p{
        width:100%;
        margin-top:-3vw;
    }
    #zitat{
        margin-left:10%;
        width:76%;
    }
    #zitat p{
        font-size: 5vw !important;
    }
    p{
    
    }
}