
h1, h2 {

    font-weight:200;
}
h1{
    margin-bottom:3vw;
    color:#333;
    margin-top:5vw;
    font-size: 2vw;
    margin-left:10%;
}
#sb{
    width:80%;
    margin-left:10%;
    overflow: hidden;
    height:0vw;
    margin-bottom: 10vw;
}
#sb img{
    margin-top:0vw;
}


div img {
    width:100%;
   

}
a img {
    width:30%;
    margin-bottom: 0;
}
#textKa{
    width:18%;
    display: inline-block;
    margin-top:-22vw;
    margin-left:0%;
    background-image: url(../Images/1x/Element\ 31.png);
    background-repeat: no-repeat;
    background-size: 49% 86%;
    padding:2%;
    background-position-x: 2%;
    background-position-y: 1vw;
}
#karte{
    width:60%;
    height:40vw;
    display: inline-block;
    margin-bottom:-13vw;
}
main{
   min-height: 80vw !important;;
}

@media only screen and (max-width: 600px) {
    main{
        min-height: 145vw !important;
    }
    	#sb{
            margin-top:10vw;
        }
   #textKa{
       margin-top:0;
       width:100%!important;
   } 
    #karte{
        margin-top:10vw;
        width:100%;
       
    }
    #textKa{
        background-size: 62% 96%;
        padding:2%;
        background-position-x: 0%;
        background-position-y: 1vw;
    }
}