#text1{
    width:76%;
    margin-left:10%;
    height: 40vw;
    font-size: 1vw;
    background-color: #ddd;
    padding:2%;
    margin-top:5vw;
}
#text1 p{
    width:45%;
    float:left;
    margin-left:5%;
    opacity:0;
}

#text1 img{
    width:40%;
    float:left;
    margin-left:10%;
    margin-top:1vw;
    opacity:0;
}

#text2{
    width:76%;
    margin-left:10%; 
    font-size: 1vw;
    height: 25vw;
    background-color: #ddd;
    padding:2%;
    
}
#text2 p{
    width:55%;
    float:left;
    margin-left:8%;
    margin-top:-0vw;
    opacity:0;
}

#text2 img{
    width:30%;
    float:left;
    margin-left:0%;
    margin-top:-15vw;
    opacity:0;
}
#text3{
    width:76%;
    margin-left:10%; 
    font-size: 1vw;
    height: 40vw;
    background-color: #ddd;
    padding:2%;
    margin-top:5vw;
}
#text3 p{
    width:50%;
    float:left;
    margin-left:15%;
    margin-top:17vw;
    opacity:0;
    
}

#text3 img{
    width:30%;
    float:left;
    margin-left:5%;
    margin-top:3vw;
    opacity:0;
}

#text4{
    width:76%;
    margin-left:10%; 
    font-size: 1vw;
    height: 25vw;
    background-color: #ddd;
    padding:2%;
}
#text4 p{
    width:45%;
    float:left;
    margin-left:5%;
    opacity:0;
}

#text4 img{
    width:35%;
    float:left;
    margin-left:0%;
    margin-top:-5vw;
    opacity:0;
}

h1{
    margin-bottom:5vw;
    color:#333;
    font-size: 2vw;
}
h1, h2 {

    font-weight:200;
}
main{
    height:160vw;
}

@media only screen and (max-width: 600px) {
    main{
        height:300vw;

    }
    h1{
        font-size: 4vw;
        margin-left:5%;
    }
    #text1, #text2, #text3, #text4{
        width:100%;
        margin-left:0%;
    }
    #text1{
        margin-top:5vw;
    }
    #text1 p{
       
        margin-top:0vw !important;
    }
    p{
        font-size:3vw;
        line-height:4.5vw;
        width:90% !important;
        margin-top:5vw !important;
        margin-left:5% !important;
    }
    main img{
        width:38% !important;
        margin-top:2vw !important;

    }
    #text2{
        height:100vw;
    }
    #text2 img{
        margin-top:0vw;
    }
    #text4{
        height:90vw;
    }
    #text4 img{

    }
}