#text{
    width:35%;
    margin-left:0%;
    
    font-size: 1vw;
}
#text p{
    
}
main{
    min-height:63vw;
}
main div:first-of-type{
  
   background-image: url("../Images/1x/Element\ 5.png");
   background-repeat: no-repeat;
   background-size: 99%;
   padding: 3%;
   padding-top: 0.7vw;
}
main div{
  width:39%;
  float:left;
    margin-top:5vw;
 }
 main> div> img:first-of-type{
    

   }
 main div img{
    padding:4%;
    padding-top:0;
    width:96%;
   }
h1, h2 {

    font-weight:200;
}
h1{
    margin-bottom:5vw;
    color:#333;
    margin-top:1.5vw;
    font-size: 2vw;
}
footer > div > article{
    margin-top:1vw;
}
#b1{
    margin-left:40%;
}
#b2{
    margin-left:50%;
}
#b3{
    margin-left:60%;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size:4vw;
    }
    #text{
        font-size:2.4vw;
        line-height: 3.8vw;
        width:75%;
        height:110vw;
    }
    main{
        min-height:160vw;
        margin-top:5vw;
    }
   
    main div{
        padding:0;
    }
    main div:nth-child(2){
        width:80%;
        margin-left:10%;
        margin-top:-5vw;
    }
    main div img{
        width:47%;
        margin-left: 3% !important;
        padding:0;
        float:left;
        margin-top:2vw;
       }
}