h1, h2 {

    font-weight:200;
}
h1{
    margin-bottom:3vw;
    color:#333;
    margin-top:5vw;
    font-size: 2vw;
    margin-left:10%;
}
#sb{
    width:80%;
    margin-left:10%;
}
img {
    width:100%;
}
a img {
    width:30%;
}
main div{
    width:80%;
    margin-left:10%;
}
#z{
    margin-top:7vw;
    background-image: url("../Images/1x/Element\ 21.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height:8vw;
}
#profil{
    width:60%;
    margin-top: 5vw;
    margin-left: 10%;;
    height:30vw;
    padding:2%;
    background-color: #ddd;
    padding-right: 0;
}
#profil img{
    width:50%;
    float: left;
   
}
#profil p{
    width:40%;

   margin-left:5%;
    float: left;
}

@media only screen and (max-width: 600px) {
    #z p{
        width: 100% !important;
        margin-left:0!important;
        
    }
    #sb{
        margin-top:10vw;
    }
    #profil{
        padding:0;
        width:100%;
        margin-left:0;
        margin-top:25vw;
        height:125vw;
    }
    #profil img{
        width:80%;
        margin-left:10%; 
        margin-top:4vw;
    }
    #profil p{
        line-height: 1vw;
        width:80%;
        margin-left:10%;
    }
    main div:nth-child(4){
        width: 100% !important;
        margin-left:0 !important;
    }
}